.socialMediaStrip{
  width:100%;
  height: 60px;
  background-color: #eee;
  position: relative;
}

.socialMediaStripContent{
  height: 100%;
  position: absolute;
  right: 15%;
  display: flex;
  align-items: center;
}
.socialMediaStripContent h1{
  color: #555;
  font-weight: bold;
  margin:auto 5px;
}
.socialMediaStripContent img{
  margin: auto 2px;
}